<h1>Add Score for {{.DisplayTitle}}</h1>

<form action="/save-score/{{.Title}}" method="POST">
    <div>
        <span>Player 1</span><br>
        <select name="player-one">
        {{if index .HTMLMetadata "users"}}{{index .HTMLMetadata "users"}}{{end}}
        </select>
    </div>
    <div>
        <span>Score</span><br/>
        <input type="text" name="score-one" value="" />
    </div>
    <div>
        <span>Player 2</span><br>
        <select name="player-two">
        {{if index .HTMLMetadata "users"}}{{index .HTMLMetadata "users"}}{{end}}
        </select>
    </div>
    <div>
        <span>Score</span><br/>
        <input type="text" name="score-two" value="" />
    </div>
    <div><input type="submit" value="Save"></div>
</form>
